.logowrapper {
    margin: auto;
    height: 100%;
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.logo {
    font-family: Oswald, sans-serif;
    font-size: 55px;
    color: rgb(255, 255, 255);
    margin-bottom: 45px
}

.logo-small {
    font-family: Oswald, sans-serif;
    font-size: 20px;
    color: rgb(255, 255, 255);
    margin-bottom: 35px
}

.logo-smaller {
    font-family: Oswald, sans-serif;
    font-size: 15px;
    color: rgb(255, 255, 255);
    max-width: 90%;
}